.header {
    display: flex;
    justify-content: center;
    height: 5rem;
    padding: 1rem;
}

.header > .welcome-back {
    font-size: 2.5rem;
    font-weight: 400;
}

.sidebar {
    height: 100vh;
    background-color: var(--surface-0);
    display: flex;
    flex-direction: column;
    padding: .25rem;
    border-right: solid 1px var(--primary-color);
}

.sidebar > .sidebar-header {
    padding-top: .5rem;
    padding-right: .5rem;
    position: relative;
}

.sidebar > .sidebar-header > .sidebar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.action-button {
    width: 2.857rem;
    height: 2.857rem;
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    cursor: pointer;
    background-position: center;
    transition: background 0.8s;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.action-button:hover {
    background: var(--primary-color-lightened) radial-gradient(circle, transparent 1%, var(--primary-color-lightened) 1%) center/15000%;
}
.action-button:active {
    background-color: var(--primary-color); 
    background-size: 100%;
    transition: background 0s;
}
.action-button:not(:first-child) {
    visibility: hidden;
}

#arrow-down-path {
    fill: none;
    stroke: var(--surface-900);
}