.register-container {
    background: url('../../assets/blob-viva-dark.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.register-container-light {
    background-image: url('../../assets/blob-viva-light.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.register-container-dark {
    background-image: url('../../assets/blob-viva-dark.svg');
    background-repeat: no-repeat;
    background-size: cover;
}