.login-container-light {
    background-image: url('../../assets/blob-viva-light.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container-dark {
    background-image: url('../../assets/blob-viva-dark.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes fade {
    0% {
        opacity: 0;
        /* transform: translateX(-20vh); */
    }
    100% {
        opacity: 1;
        /* transform: translateX(0); */
    }
}

.logo-container > .logo {
    width: 5rem;
    height: 5rem;
    margin: 0 2vh;
    animation: fade 3s linear;
}

.title {
    font-size: 2rem;
    font-weight: 600;
}