@keyframes react-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.react-logo {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: .25rem 0 0 .25rem;
    animation: react-logo-spin 20s infinite linear;
}